/* all */
*{
	margin: 0;
	padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}


/* header */
header{
    background: transparent;
    width: 100%;
    position: relative;
}
.sticky {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.8);
	transition: 0.25s;
	z-index: 99;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}
nav img{
    padding-top: 2px;
}
nav ul li{
    display: inline-block;
    padding: 0 10px;
}
nav ul li a{
        text-decoration: none;
        color: white;
        cursor: pointer;
        padding-bottom: 2px;
        border-bottom: 1px solid transparent;
        transition: all 0.1s ease-in-out;
        font-size: 14px;
}
nav ul li a:hover{
    border-bottom: 1.5px solid white;
}

main{
    height: 75vh;
    background: linear-gradient(rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.6)), url("../Images/header/wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.hero{
    padding-top: 100px;
    text-align: center;
    color: white;
}
.hero h1{
    font-size: 36px;
	text-transform: uppercase;
    font-weight: 100;
}
.hero h2{
    font-size: 26px;
	margin-top: 20px;
    font-weight: normal;
}
.btn{
    margin-top: 70px;
}
.btn a{
    text-decoration: none;
    color: white;
    border: 1px solid white;
    border-radius: 2.5px;
    padding: 11px 24px;
    transition: all 0.2s ease-in-out;
    font-size: 15px;
}
.btn a:first-child:hover{
    background: #c0c0c0;
}
.btn a:nth-child(2):hover{
    background: #008000;
}
.btn a:first-child{
    margin-right: 75px;
}
.btn a:last-child:hover{
    background: #800040;
}


/* rooms and suites section */
#rooms{
    margin: 50px 100px;
}
#rooms > h2{
    font-weight: 100;
}
.s-heading{
    text-align: center;
    font-weight: 100;
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
}
.s-heading::after{
    content: "";
    height: 2px;
    width: 15%;
    background-color: black;
    margin: 10px auto;
    display: block;
}

.rooms-type{
    margin: 30px auto;
}
.rooms-type .row{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 50px;
}
.card{
    width: 450px;
    border: 1px solid transparent;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.6), 0 2px 2px rgba(0, 0, 0, 0.6);
}
.card h3{
    font-weight: 100;
    margin-bottom: 10px;
}
.card img{
    width: 100%;
}
.card p{
    margin-top: 10px;
    text-align: center;
    padding: 2px 8px;
}
.rooms-para{
    display: none;
}
.card:hover{
    background: black;
    color: white;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3), 0 10px 10px rgba(0, 0, 0, 0.3);
}
.card:hover .rooms-para{
    display: block;
}


/* services section */
#services{
    margin-top: 100px;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.6)), url("../Images/service/Menu.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
#services > h2{
    padding-top: 25px;
}
#services .s-heading::after{
    background-color: white;
    width: 40%;
}
.services-types{
    margin-top: 90px;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.service{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.service div{
    width: 140px;
}
.service img{
    padding: 15px;
}
.service div p:first-child{
    font-weight: 600;
    margin-bottom: 15px;
}
.service div p{
    font-size: 16px;
    padding: 3px;
}




/* reviews section */
#review h2{
    margin: 80px 0;
}
#review .s-heading::after{
    width: 10%;
}
.slider{
    margin: 80px 30px;
    text-align: center;
    padding: 5px;
    background: rgba(0,0,0,0.03);
}
.slide img{
    width: 520px;
    height: 400px;
    padding: 100px;
    position: relative;
    left: -60px;
}
.slick-prev,
.slick-next {
	background: black;
	width: 50px;
	height: 50px;
}
.slick-prev {
	left: 0;
}
.slick-next {
	right: 0;
}
.slick-center {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	transform: scale(1.3);
}
.slick-prev:hover,
.slick-next:hover {
	background: black;
}


/* about me section */
#about-me{
    position: relative;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 14px;
}
footer > div:first-child{
    display: flex;
    justify-content: space-evenly;
    align-items: start;
}
#about-me h2{
    font-size: 24px;
    font-weight: normal;
    margin: 30px;
}
#about-me img{
    width: 40px;
    height: 40px;
}
#about-me p{
    font-size: 16px;
}
.about{
    font-weight: bold;
}
.link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:16px;
}
.link a{
    cursor: pointer;
}
.social .link:last-child img{
    margin-right: 15px;
}
.contact div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact img{
    margin: 5px;
    padding: 3px;
}

footer > div:last-child{
    background-color: rgb(34, 33, 33);
}
footer > div:last-child >div{
    margin: 0 15%;
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}
footer span{
    font-weight: bold;
}