* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/wp.jpeg') center / cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container1{
    position: relative;
    background: white;
    border-radius: 8px;
    height: 70%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-container{
	display:flex;
	flex-direction: column;
	justify-content: center;
}
.form-container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.form-container h1{
	font-size: 28px;
}
.form-container p{
	font-size: 13px;
	margin-bottom: 5px;
}
.social-container a {
    border: 1px solid #ddd;
    border-radius: 50%;
    box-shadow: 1px 1px 1px #ddd, -1px 1px 1px #ddd, 1px -1px 1px #ddd, -1px -1px 1px #ddd;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
    height: 38px;
    width: 38px;
    color: black;
    text-decoration: none;
}
.form-container input {
    background: #eee;
    border: none;
    border-radius: 3px;
    padding: 8px 10px;
    margin: 4px;
    width: 100%;
    font-size: 14px;
}
.button {
    border-radius: 20px;
    background: black;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 25px;
    letter-spacing: 1px;
    transition: transform 0.1s ease-in;
}
.button:active {
    transform: scale(0.95);
}
.button:focus {
    outline: none;
}
.button.ghost {
    background: transparent;
    border-color: #fff;
}

#param-error, #param-logout, #reg-error, #reg-success{
	padding: 5px;
	font-size: 12px;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-out;
}
.sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
    padding: 10px;
}

.sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
    padding: 10px;
}





.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}
.overlay {
    color: #fff;
    height: 100%;
    width: 200%;
    position: relative;
    left: -100%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-panel {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
    padding: 0 40px;
    text-align: center;
    transform: translateX(0);
    transition: transform 0.1s ease-in-out;
}

.overlay h1{
	font-size: 30px;
}
.overlay p{
	font-size: 15px;
}
.overlay-right {
    right: 0;
    transform: translateX(0);
    background: linear-gradient(to right, #7e5fe5 , #0000fe);
}

.overlay-left {
    background: linear-gradient(to right, #febfcb , #8161e4);
    transform: translateX(-20%);
}

.container1.right-panel-active .sign-in-container {
    transform: translateX(100%);
    opacity: 0;
}

.container1.right-panel-active .overlay-container {
    transform: translateX(-100%);
}

.container1.right-panel-active .sign-up-container {
    opacity: 1;
    z-index: 5;
    transform: translateX(100%);
}

.container1.right-panel-active .overlay {
    transform: translateX(50%);
}

.container1.right-panel-active .overlay-left {
    transform: translateX(0);
}

.container1.right-panel-active .overlay-right {
    transform: translateX(20%);
}