/* all */
*{
	margin: 0;
	padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}


/* header */
header{
    background: transparent;
    width: 100%;
    position: relative;
}
.sticky {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.8);
	transition: 0.25s;
	z-index: 99;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}
nav img{
    padding-top: 2px;
}
nav ul{
    margin: auto 0;
}
nav ul li{
    display: inline-block;
    padding: 0 10px;
}
nav ul li a{
        text-decoration: none;
        color: white;
        cursor: pointer;
        padding-bottom: 2px;
        border-bottom: 1px solid transparent;
        transition: all 0.1s ease-in-out;
        font-size: 14px;
}
nav ul li a:hover{
    border-bottom: 1px solid white;
}

main{
    height: 50vh;
    background: linear-gradient(rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.6)), url("../Images/header/booking.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.hero{
    padding-top: 40px;
    text-align: center;
    color: white;
}
.hero h1{
    font-size: 32px;
	text-transform: uppercase;
    font-weight: 100;
}
.btn1{
    margin-top: 40px;
}
.btn1 a{
    text-decoration: none;
    color: white;
    border: 1px solid white;
    border-radius: 2.5px;
    padding: 10px 20px;
    transition: all 0.1s ease-in-out;
    font-size: 14px;
}
.btn1 a:first-child:hover{
    background: rgb(32, 78, 28);
}
.btn1 a:last-child:hover{
    background: rgb(80, 20, 21);
}





h2.sub-title {
	position: relative;
	display: block;
	margin: 50px auto;
	text-align: center;
	font-size: 33px;
	line-height: 40px;
}

h2.sub-title::after {
	display: block;
	height: 1.5px;
	background-color: #000000;
	content: "";
	width: 100px;
	margin: 10px auto 0 auto;
}

.card1 {
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6), 0 1px 2px rgba(0, 0, 0, 0.6);
	transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    background-color: #f0f0f0;
}

.hotel_reserve_box {
	width: 50%;
	margin: 10px auto 100px;
	padding: 40px 20px;
	line-height: 1.8;
}

h3 {
    margin: 10px auto 25px;
	font-size: 25px;
    text-align: center;
}
label{
    margin-top: 10px;
    font-size: 14px;
}

input, option{
	font-size: 14px;
}
.date-label {
	font-size: 15px;
	margin-left: 6px;
	margin-top: 10px;
}

#dateTime_arr {
	padding: 4px;
	padding-left: 30px;
	margin: 5px 5px;
	margin-left: 20px;
	height: 33px;
}

.price-lab {
	font: bold;
	font-size: 25px;
	margin-top: 35px;
    text-align: center;
}

.price-fi {
	font-size: 25px;
    text-align: center;
}
.m-btn{
    margin: 15px auto;
    text-align: center;
}
.sub-btn {
    text-align: center;
	padding: 10px 20px;
	border: 1px solid;
	background: transparent;
	color: rgb(0, 0, 0);
	font-size: 17px;
	text-decoration: none;
	transition: 0.3s;
}

.sub-btn:hover {
	background: rgb(7, 49, 7);
	color: white;
	text-decoration: none;
}




/* about me section */
#about-me{
    position: relative;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 14px;
}
footer > div:first-child{
    display: flex;
    justify-content: space-evenly;
    align-items: start;
}
#about-me h2{
    font-size: 24px;
    font-weight: normal;
    margin: 30px;
}
#about-me img{
    width: 40px;
    height: 40px;
}
#about-me p{
    font-size: 16px;
}
.about{
    font-weight: bold;
}
.link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:16px;
}
.link a{
    cursor: pointer;
}
.social .link:last-child img{
    margin-right: 15px;
}
.contact div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact img{
    margin: 5px;
    padding: 3px;
}

footer > div:last-child{
    background-color: rgb(34, 33, 33);
}
footer > div:last-child >div{
    margin: 0 15%;
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}
footer span{
    font-weight: bold;
}}