/* all */
*{
	margin: 0;
	padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}


/* header */
header{
    background: transparent;
    width: 100%;
    position: relative;
}
.sticky {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.8);
	transition: 0.25s;
	z-index: 99;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}
nav img{
    padding-top: 2px;
}
nav ul{
    margin: auto 0;
}
nav ul li{
    display: inline-block;
    padding: 0 10px;
}
nav ul li a{
        text-decoration: none;
        color: white;
        cursor: pointer;
        padding-bottom: 2px;
        border-bottom: 1px solid transparent;
        transition: all 0.1s ease-in-out;
        font-size: 14px;
}
nav ul li a:hover{
    border-bottom: 1px solid white;
}

main{
    height: 50vh;
    background: linear-gradient(rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.6)), url("../Images/header/booking.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.hero{
    padding-top: 40px;
    text-align: center;
    color: white;
}
.hero h1{
    font-size: 32px;
	text-transform: uppercase;
    font-weight: 100;
}
.btn1{
    margin-top: 40px;
}
.btn1 a{
    text-decoration: none;
    color: white;
    border: 1px solid white;
    border-radius: 2.5px;
    padding: 10px 20px;
    transition: all 0.1s ease-in-out;
    font-size: 14px;
}
.btn1 a:first-child:hover{
    background: rgb(32, 78, 28);
}
.btn1 a:last-child:hover{
    background: rgb(80, 20, 21);
}





/* reservation list */
h2.sub-title {
	position: relative;
	display: block;
	margin: 35px 0;
	text-align: center;
	font-size: 32px;
	line-height: 40px;
	text-align: center;
}

h2.sub-title::after {
	display: block;
	height: 2px;
	background-color: #000000;
	content: "";
	width: 100px;
	margin: 10px auto 0 auto;
}

.container {
	margin: 20px 300px;
}

.re-lis-h2 {
	font-size: 23px;
}

.re-lis-h2::after {
	display: block;
	height: 1px;
	background-color: grey;
	content: "";
	width: 100%;
	margin: 10px 0;
}

tr {
	font-size: 12px;
	height: 5px;
}

tbody td{
	font-size: 13px;
	vertical-align: middle;
}

#res-table {
	text-align: center;
	table-layout: fixed;
	margin-bottom: 200px;
}



/* about me section */
#about-me{
    position: relative;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 14px;
}
footer > div:first-child{
    display: flex;
    justify-content: space-evenly;
    align-items: start;
}
#about-me h2{
    font-size: 24px;
    font-weight: normal;
    margin: 30px;
}
#about-me img{
    width: 40px;
    height: 40px;
}
#about-me p{
    font-size: 16px;
}
.about{
    font-weight: bold;
}
.link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:16px;
}
.link a{
    cursor: pointer;
}
.social .link:last-child img{
    margin-right: 15px;
}
.contact div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact img{
    margin: 5px;
    padding: 3px;
}

footer > div:last-child{
    background-color: rgb(34, 33, 33);
}
footer > div:last-child >div{
    margin: 0 15%;
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}
footer span{
    font-weight: bold;
}